<div class="container mt-5 pt-5">
  <div class="row">
    <div class="col-md-3">
      <a href="/course/add-course" class="btn btn-success">Add Course</a>
    </div>
    <div class="col-md-3 offset-md-6">
      <input type="text" class="form-control" id="search-bar" placeholder="Search">
    </div>
  </div>

  <table class="table mt-5">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Coordinator</th>
      <th>Trainer</th>
      <th>Payment Type</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
    <tr>
      <td>{{code}}</td>
      <td>{{name}}</td>
      <td>{{coordinator}}</td>
      <td>{{trainer}}</td>
      <td>{{paymentType}}</td>
      <td >
        <a href="/course/delete/{{_id}}" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

</div>