<div class="container mt-5 pt-5">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Salary Component Type</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Salary Components</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Pay Grades</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="row my-3">
      <div class="col-md-3 offset-md-9">
        <input type="text" class="form-control" id="search-bar" placeholder="Search">
      </div>
    </div>
     <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each data}}
      <tr>
        <td >{{_id}}</td>
        <td >{{name}}</td>
        <td>
          <a href="/delete/{{_id}}" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
     <div class="row my-3">
    <div class="col-md-3 offset-md-9">
      <input type="text" class="form-control" id="search-bar" placeholder="Search">
    </div>
  </div>

     <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Salary Component Type</th>
        <th>Details</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      {{#each data}}
        <tr>
        <td>{{_id}}</td>
        <td>{{name}}</td>
        <td>{{salaryComponentType}}</td>
        <td>{{salaryDetails}}</td>
        <td >
          <a href="/delete/{{_id}}" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  </div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
     <div class="row my-3">
    <div class="col-md-3 offset-md-9">
      <input type="text" class="form-control" id="search-bar" placeholder="Search">
    </div>
  </div>

     <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Currency</th>
        <th>Salary</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each data}}
      <tr>
        <td contenteditable="true">{{_id}}</td>
        <td contenteditable="true">{{name}}</td>
        <td contenteditable="true">{{currency}}</td>
        <td contenteditable="true">{{salary}}</td>
        <td >
          <a href="/delete/{{_id}}" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  </div>
</div>
</div>