
<div class="container my-5 pt-5">
  <h1>Training Sessions</h1>
  <table class="table mt-5">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Course</th>
      <th>Schedualed Time</th>
      <th>Status</th>
      <th>Delivery Method</th>
      <th>Delivery Location</th>
      <th>Attendance Type</th>
      <th>TC Required</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
    <tr>
      <td>{{_id}}</td>
      <td>{{empName}}</td>
      <td>{{cname}}</td>
      <td>{{schedualedTime}}</td>
      <td>{{status}}</td>
      <td>{{deliveryMethod}}</td>
      <td>{{deliveryLocation}}</td>
      <td>{{attendanceType}}</td>
      <td>{{TCRequired}}</td>  
      <td >
        <a href="" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

</div>